<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="netTcp">
          <serviceDebug includeExceptionDetailInFaults="true" />
          <serviceMetadata httpGetEnabled="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <services>
      <service behaviorConfiguration="netTcp" name="LibraryService.LibraryService">
        <endpoint address="library" binding="netTcpBinding" bindingConfiguration="EndPointConfiguration"
          contract="LibraryService.ILibraryService" />
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost:9000" />
            <add baseAddress="http://localhost:8886" />
          </baseAddresses>
        </host>
      </service>
    </services>
    <bindings>
      <netTcpBinding>
        <binding name="EndPointConfiguration" sendTimeout="00:01:00">
          <security mode="None" />
          <reliableSession enabled="true" inactivityTimeout="00:15:00"/>
        </binding>
      </netTcpBinding>
    </bindings>
  </system.serviceModel>
</configuration>
