<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.serviceModel>
    <services>
      <service name="LibraryService.LibraryService">
        <endpoint address="http://localhost:8080/library" 
                  binding="webHttpBinding" 
                  contract="LibraryService.ILibraryService"
                  behaviorConfiguration="web"/>
       </service>
    </services>
    <behaviors>
      <endpointBehaviors>
        <behavior name="web">
          <webHttp />
        </behavior>
      </endpointBehaviors>
    </behaviors>
  </system.serviceModel>
  <system.diagnostics>
    <sources>
      <source name="System.ServiceModel"
              switchValue="Information, ActivityTracing"
              propagateActivity="true">
        <listeners>
          <add name="xml" />
        </listeners>
      </source>
    </sources>
    <sharedListeners>
      <add name="xml" type="System.Diagnostics.XmlWriterTraceListener" initializeData="C:\Error.svclog"/>
    </sharedListeners>
  </system.diagnostics>
</configuration>
